<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="container">
        <div class="top">
            <div class="center">
                <h1>Login Form</h1>
                <form id="loginForm" action="/login" method="post">
                    <input placeholder="Name" name="name" type="text">
                    <input placeholder="Authentication Code" name="authCode" type="text">
                    <input class="sub" type="submit" value="Login">
                </form>
                <h3>Don't have an account? <a href="/signup">Create a new account</a></h3>
            </div>
        </div>
        <div class="bottom"></div>
    </div>

</body>
</html>
