<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <div class="container">
        <div class="top">
            <div class="center">
                <h1>Sign Up</h1>
                <form action="/signup" method="post">
                    <input placeholder="Name" name="name" type="text">
                    <input placeholder="Password" name="password" type="password">
                    <input placeholder="Email" name="email" type="text"> <!-- Add this line for the email -->
                    <input class="sub" type="submit" value="Sign Up">
                </form>
                <h3><a href="/">Go back to login page</a></h3>
            </div>
        </div>
        <div class="bottom"></div>
    </div>

</body>
</html>
